<section class="section" id="skills">
  <div class="container">
    <div class="term-header reveal">
      <span class="th-comment"># skills &amp; technologies</span>
      <div class="prompt">
        <span class="p-user">thri</span><span class="p-at">&#64;</span><span class="p-host">portfolio</span><span class="p-colon">:</span><span class="p-path">~</span><span class="p-sym">$</span>
        <span class="p-cmd">cat </span><span class="p-arg">skills.json</span>
      </div>
    </div>

    <div class="term-block reveal delay-1">
      <div class="term-chrome">
        <span class="dot dot-r"></span><span class="dot dot-y"></span><span class="dot dot-g"></span>
        <span class="chrome-title">skills.json</span>
      </div>
      <div class="term-body skills-body">
        <pre class="json-root"><span class="j-brace">&#123;</span>
<ng-container *ngFor="let g of skillGroups; let last = last">  <span class="j-key">"{{ g.key }}"</span><span class="j-colon">: </span><span class="j-bracket">[</span><ng-container *ngFor="let s of g.skills; let sl = last"><span class="j-str">"{{ s }}"</span><ng-container *ngIf="!sl"><span class="j-comma">, </span></ng-container></ng-container><span class="j-bracket">]</span><ng-container *ngIf="!last"><span class="j-comma">,</span></ng-container>
</ng-container><span class="j-brace">&#125;</span></pre>
      </div>
    </div>
  </div>
</section>
